.App {
  height: 100%;
}

.task-header{
  font-size: 32px;
  margin: 50px 0; 
  align-self: center;
}

.task-container{
    display: flex;
    flex-direction: column;   
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
}